button {
	vertical-align: bottom!important;
}
body{
	margin: 4rem;
}

.token-label{
	margin: 0.2rem;
}
#data_files_display{
	height:25rem;
	overflow-y: scroll;
}
#read_files_data_display{

}
.post_text{
		max-height: 25rem;
		overflow-y:scroll;
}
#data_files_display, #read_files_data_display{
	border: black;
  border-width: 1px;
  border-style: solid;
}


td, th {
  border: 1px;
  border-style: solid;
  padding: 1rem;
}

th {
    background-color: #428bca;
}
.container{
	background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
  box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
  color: #fff;
  width: 100%;
  margin-left: 0px!important;
}
.navbar-brand{
	color: #fff!important;
}
.logo{
  width: 30px;
  height: 30px;
  display: inline!important;
  margin-right: 40px;
}
.predict-button-holder{
	height: 9rem;
  margin-top: 1rem;
}
#predict_audeience{
	float: right;
}
.predicted-audience-holder{
  border: 1px;
  border-color: #052479;
  border-style: solid;
  margin: -1px;
  padding: .2rem;
}
.match-button-holder{
	height: 9rem;
  margin-top: 1rem;
}
#match_audience{
	float: right;
}
.audience-icon{
	width: 3rem;
  margin-right: .7rem;
}
textarea{
  width: 100%;
}
 .audience_table{
	width: 100%;
}
#write_fb_audience{
	margin-bottom: 10px
}
#read_fb_audience{
	margin-bottom: 10px
}

#fb_audiences{
  float: right;
  margin-bottom: 10px
}
#fb-user-image{
  height: 2.6rem;
  width: 2.6rem;
}
.navbar-brand{
  padding-top: 1.0rem!important;
}
.navbar-form{
  padding-top: .7rem;
}
#fb-user-name{
  padding-left: .8rem;
}
#fb_login{
	float: right;
  margin: .5rem;
}

#fb_logout{
	float: right;
  margin: .5rem;
}
.button-holder{
  height: 5rem;

}
#write_fb_audience{
  float: right;
  margin: .5rem;
}
#read_fb_audience{
  float: right;
  margin: .5rem;
}
