button {
	vertical-align: bottom!important;
}
body{
	margin: 4rem;
}

.token-label{
	margin: 0.2rem;
}
#data_files_display{
	height:25rem;
	overflow-y: scroll;
}
#read_files_data_display{
	
}
.post_text{
		max-height: 25rem;
		overflow-y:scroll;
}
#data_files_display, #read_files_data_display{
	border: black;
  border-width: 1px;
  border-style: solid;
}